/* ==================================
   GRUNDEINSTELLUNGEN
================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0c0c0c;
  color: white;
  font-family: Arial, sans-serif;
}

/* ==================================
   NAVIGATION
================================== */

header {
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 7%;
}

.logo {
  font-size: 28px;
  letter-spacing: 2px;
}

nav {
  display: flex;
  gap: 40px;
}

nav a {
  color: white;
  text-decoration: none;

  font-size: 11px;
  letter-spacing: 2px;

  transition: opacity 0.3s;
}

nav a:hover {
  opacity: 0.5;
}

/* ==================================
   HERO
================================== */

.hero {
  min-height: 75vh;

  padding: 0 7%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h2 {
  font-size: clamp(45px, 6vw, 95px);

  line-height: 0.92;
  letter-spacing: -3px;
}

.hero p {
  margin-top: 30px;

  color: #777;

  font-size: 15px;
  letter-spacing: 3px;
}

.hero-button {
  width: fit-content;

  margin-top: 35px;
  padding-bottom: 8px;

  color: white;
  text-decoration: none;

  border-bottom: 1px solid white;

  font-size: 11px;
  letter-spacing: 2px;
}

/* ==================================
   PORTFOLIO
================================== */

.portfolio {
  position: relative;

  min-height: 100vh;

  padding: 120px 7%;
}

/* ==================================
   PORTFOLIO TITEL
================================== */

.portfolio-title {
  position: relative;

  width: 100%;

  margin-bottom: 60px;
}

.portfolio-title p {
  margin-bottom: 20px;

  color: #777;

  font-size: 10px;
  letter-spacing: 3px;
}

.portfolio-title h2 {
  font-weight: normal;

  font-size: clamp(45px, 5vw, 80px);

  line-height: 0.9;
}

/* ==================================
   GALERIE
================================== */

.gallery {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 15px;
}

.gallery-photo {
  width: 100%;
  overflow: hidden;
}

/* BILDER */

.gallery-photo img {
  width: 100%;

  /* WICHTIG */
  aspect-ratio: 3 / 4;

  display: block;
  object-fit: cover;

  transition: transform 0.5s ease;
}

/* HOVER */

.gallery-photo:hover img {
  transform: scale(1.04);
}

/* TEXT */

.photo-info {
  padding: 8px 0;

  display: flex;
  justify-content: space-between;

  color: #777;

  font-size: 8px;
  letter-spacing: 1px;
}

.photo-category {
  padding: 8px 0;

  color: #aaa;

  font-size: 8px;
  letter-spacing: 2px;
}

/* ==================================
   TEXT OBERHALB BILD
================================== */

.photo-category {
  padding: 10px;

  color: #aaa;

  font-size: 8px;
  letter-spacing: 2px;
  background: none;
}

/* ==================================
   TEXT UNTERHALB BILD
================================== */

.photo-info {
  min-height: 35px;

  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 15px;

  color: #777;

  font-size: 8px;
  letter-spacing: 1px;
  background: none;
}

/* ==================================
   ABOUT
================================== */

.about {
  min-height: 80vh;

  padding: 150px 15%;

  background-color: #151515;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-name {
  margin-bottom: 30px;

  color: #777;

  font-size: 10px;
  letter-spacing: 3px;
}

.about h2 {
  max-width: 900px;

  font-size: clamp(40px, 5vw, 75px);

  line-height: 0.95;
}

.about-text {
  max-width: 550px;

  margin-top: 40px;

  color: #999;

  line-height: 1.8;
}

/* ==================================
   BUCHUNG & SOCIAL MEDIA
================================== */

.contact {
  min-height: 100vh;
  padding: 130px 7%;
  background-color: #080808;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ==================================
   ÜBERSCHRIFT
================================== */

.contact-heading {
  width: 100%;
  max-width: 1100px;

  margin-bottom: 60px;

  text-align: center;
}

.contact-label {
  margin-bottom: 25px;

  color: #888;

  font-size: 10px;
  letter-spacing: 5px;
}

.contact-heading h2 {
  margin: 0;
  font-style: bold;
  font-size: 75px;

  line-height: 0.85;
  letter-spacing: -3px;
}

.contact-description {
  max-width: 750px;

  margin: 35px auto 0;

  color: #999;

  font-size: 13px;
  line-height: 1.8;
  letter-spacing: 2px;
}

/* ==================================
   KARTEN
================================== */

.contact-cards {
  width: 100%;
  max-width: 1400px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 25px;

  /* Beide Karten gleich hoch */
  align-items: stretch;
}

/* ==================================
   EINZELNE KARTE
================================== */

.contact-card {
  position: relative;

  width: 100%;
  height: 500px;

  border: 1px solid #333;

  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ==================================
   DUNKLER FILTER
================================== */

.contact-card::before {
  content: "";

  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.62);

  transition: background 0.4s ease;
}

.contact-card:hover::before {
  background: rgba(0, 0, 0, 0.45);
}

/* ==================================
   HINTERGRUNDBILDER
================================== */

.booking-card {
  background-image: url("img/contact-booking.jpg");
}

.instagram-card {
  background-image: url("img/contact-instagram.jpg");
}

/* ==================================
   INHALT
================================== */

.contact-card-content {
  position: relative;
  z-index: 2;

  width: 100%;
  height: 100%;

  padding: 45px 50px;

  display: grid;

  /* Jede Karte bekommt exakt dieselben Bereiche */
  grid-template-rows:
    70px
    60px
    110px
    100px;

  align-content: center;
  justify-items: center;
  align-items: center;

  text-align: center;
}

/* ==================================
   ICON
================================== */

.contact-icon {
  width: 45px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon svg {
  width: 100%;
  height: 100%;

  fill: none;
  stroke: white;
  stroke-width: 1.8;
}

.contact-icon .instagram-dot {
  fill: white;
  stroke: none;
}
/* ==================================
   TITEL
================================== */

.contact-card h3 {
  margin: 0;

  color: white;

  font-size: 13px;
  font-weight: normal;

  letter-spacing: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==================================
   TEXT
================================== */

.contact-card p {
  width: 100%;
  max-width: 500px;

  margin: 0;

  color: #bbb;

  font-size: 13px;
  line-height: 1.8;
  letter-spacing: 1px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

/* ==================================
   BUTTON
================================== */

.contact-card a {
  width: 100%;
  max-width: 350px;

  padding: 20px 25px;

  border: 1px solid #aaa;

  background: rgba(0, 0, 0, 0.3);

  color: white;

  text-decoration: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 10px;
  letter-spacing: 3px;

  transition:
    background 0.3s ease,
    color 0.3s ease;
}

.contact-card a:hover {
  background: white;
  color: black;
}

.contact-card a span {
  font-size: 18px;
}
/* ==================================
   FOOTER
================================== */

footer {
  padding: 35px 7%;

  border-top: 1px solid #222;

  display: flex;
  justify-content: space-between;

  color: #555;

  font-size: 9px;
  letter-spacing: 1px;
}

/* ==================================
   HANDY VERSION
================================== */

@media (max-width: 800px) {
  /* NAVIGATION */
  header {
    height: 65px;
    padding: 0 12px;
  }

  .logo {
    font-size: 18px;
    letter-spacing: 1px;
  }

  nav {
    gap: 8px;
  }

  nav a {
    font-size: 7px;
    letter-spacing: 0.5px;
  }

  /* HERO */
  .hero {
    min-height: 55vh;
    padding: 10px 12px 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero h2 {
    font-size: 38px;
    line-height: 0.95;
    letter-spacing: -2px;
  }

  .hero p {
    margin-top: 18px;
    font-size: 10px;
  }

  .hero-button {
    margin-top: 20px;
    font-size: 9px;
  }

  /* PORTFOLIO */
  .portfolio {
    min-height: auto;
    padding: 45px 8px;
  }

  .portfolio-title {
    width: 100%;
    margin-bottom: 25px;
  }

  .portfolio-title p {
    margin-bottom: 10px;
    font-size: 8px;
  }

  .portfolio-title h2 {
    font-size: 40px;
    line-height: 0.9;
  }

  /* GALERIE */
  .gallery {
    width: 85%;
    margin: 0;

    display: grid;

    /* 2 Bilder nebeneinander */
    grid-template-columns: repeat(2, minmax(0, 1fr));

    gap: 8px;
  }

  /* EINZELNE FOTO-KARTE */
  .gallery-photo {
    width: 100%;
    min-width: 0;

    /* NICHT hier verstecken,
       sonst wird auch Text abgeschnitten */
    overflow: visible;
  }

  /* BILD-WRAPPER */
  .image-wrapper {
    width: 100%;

    /* Genau 3:4 */
    aspect-ratio: 3 / 4;

    overflow: hidden;
  }

  /* FOTO */
  .image-wrapper img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;
    object-position: center;
  }

  /* TEXT UNTER DEM BILD */
  .photo-info {
    min-height: 0;

    padding: 6px 2px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 4px;

    background: none;

    color: #777;

    font-size: 7px;
    letter-spacing: 0.5px;
  }

  /* TEXT OBERHALB */
  .photo-category {
    padding: 6px 2px;

    background: none;

    color: #aaa;

    font-size: 7px;
    letter-spacing: 1px;
  }

  /* ABOUT */
  .about {
    min-height: auto;
    padding: 70px 20px;
  }

  .section-name {
    margin-bottom: 20px;
    font-size: 9px;
  }

  .about h2 {
    font-size: 36px;
    line-height: 1;
  }

  .about-text {
    margin-top: 25px;

    font-size: 14px;
    line-height: 1.6;
  }

  /* ==================================
   CONTACT - HANDY
================================== */

  .contact {
    min-height: auto;
    padding: 80px 15px;
  }

  /* ÜBERSCHRIFT */

  .contact-heading {
    width: 100%;
    margin-bottom: 40px;

    text-align: center;
  }

  .contact-label {
    margin-bottom: 20px;

    font-size: 8px;
    letter-spacing: 4px;
  }

  .contact-heading h2 {
    margin: 0;

    font-size: 45px;
    line-height: 0.9;
    letter-spacing: -2px;
  }

  .contact-description {
    max-width: 90%;

    margin: 25px auto 0;

    font-size: 11px;
    line-height: 1.7;
    letter-spacing: 1px;
  }

  /* KARTEN UNTEREINANDER */

  .contact-cards {
    width: 100%;

    grid-template-columns: 1fr;

    gap: 12px;
  }

  /* KARTE */

  .contact-card {
    width: 100%;
    height: 360px;
  }

  /* INHALT */

  .contact-card-content {
    width: 100%;
    height: 100%;

    padding: 25px 20px;

    display: grid;

    grid-template-rows:
      55px
      50px
      90px
      80px;

    align-content: center;
    justify-items: center;
    align-items: center;

    text-align: center;
  }

  /* ICON */

  .contact-icon {
    margin: 0;

    font-size: 35px;
  }

  /* TITEL */

  .contact-card h3 {
    margin: 0;

    font-size: 11px;
    letter-spacing: 4px;
  }

  /* TEXT */

  .contact-card p {
    max-width: 280px;

    margin: 0;

    font-size: 11px;
    line-height: 1.6;
  }

  /* BUTTON */

  .contact-card a {
    width: 100%;
    max-width: 280px;

    padding: 16px 18px;

    font-size: 8px;
    letter-spacing: 2px;
  }

  .contact-card a span {
    font-size: 16px;
  }
  /* FOOTER */
  footer {
    padding: 25px 15px;

    flex-direction: column;

    gap: 8px;

    font-size: 8px;
  }
}
